@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.wave-clip {
	clip-path: polygon(
		0 100%,
		20% 80%,
		40% 100%,
		60% 80%,
		80% 100%,
		100% 80%,
		100% 0,
		0 0
	);
}

.hojas {
	background-image: url('/hojas.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
